python-decouple
pypdf2
python-docx
openai
pandas
firecrawl-py
logging
streamlit_option_menu
streamlit_extras
streamlit-chat 
streamlit
langchain
langchain-openai
langchain-community
langchain-core 
langgraph>0.2.27